.navbar {
    position: absolute;
    top: 20px; 
    right: 0;
    background-color: transparent;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-item a {
    color: rgb(200, 77, 0);
    text-decoration: none;
    font-size: 0.8em; 
    font-weight: bold; 
  }
  
  .nav-item a:hover {
    color: rgb(150, 57, 0);  
  }
  .slide-in {
    animation: slide-in 2s forwards;
}