.single-product {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .product-image {
    flex-basis: 50%;
  }
  
  .product-image img {
    max-width: 100%;
  }
  
  .product-details {
    flex-basis: 40%;
  }
  
  button {
    margin-top: 20px;
  }